.one-three {
  width: 32%;
  float: left;
  margin-left: 15px;
}

.one-three image {
  border: 3px solid rgb(20, 100, 200);
  border-radius: 4px;
}

.one-two {
  width: 32%;
  /*border: 1px solid black;*/
  display: inline;
  text-align: center;
  clear: both;
}

.tally {
  display: inline-block;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  width: 100%;
}

.rock {
  border: 10px solid rgb(24, 100, 200);
  border-radius: 20px;
}

.paper {
  border: 10px solid rgb(24, 100, 200);
  border-radius: 20px;
}

.scissors {
  border: 10px solid rgb(24, 100, 200);
  border-radius: 20px;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

.yourChoice {
  float: left;
  margin-left: 50px;
}

.winner{
  margin-left: 175px;
}

.compChoice {
  float: right;
  margin-right: 50px;
}

.runProgram {
  margin: 0 auto;
  border: 4px solid black;
  margin-top: 150px;
}
